#app,
html,
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

:root {
    --transition-duration: 0.3s;
    --bg-color: #f4f4f9;
    --text-color: black;
    --link-color: #bb86fc;
}

#app,
html,
body {
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color var(--transition-duration) ease,
        color var(--transition-duration) ease;
    a{
        color: var(--link-color);
    }
}
